<div class="row">
  <div class="col-md-4">
    <%= cl_image_tag @movie.photo.key, height: 475, width: 325, crop: :fill %>
  </div>
  <div class="col-md-8">
    <div class="play-info">
      <h2 class="play-title"><%= @movie.title %></h2>
      <h3 class="play-director"><span>Director: </span>  <%= @movie.director %></h3>
      <h4 class="play-director"><%= @movie.category.name %></h4>
      <p class="play-desc"><%= @movie.description %></p>
    </div>
  </div>
</div>


<div class="links btn-group">
  <% if user_signed_in? %>
    <% if @movie.user_id == current_user.id %>
      <%= link_to 'Edit', edit_movie_path, class:'btn btn-default' %>
      <%= link_to 'Delete', movie_path, method: :delete, data: {confirm: "Are you sure?"}, class:'btn btn-default'  %>
    <% end %>
  <% end %>
  <%= link_to 'Back', :back , class:'btn btn-default'%>
</div>
